@{
  Layout = "_Layout";
}

@model BestRestaurants.Models.Cuisine

<h3>Would you like to delete this cuisine?</h3>

@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)
@using (Html.BeginForm())
{
  <input type="submit" value="Delete" />
}
@Html.ActionLink("Back to cuisines", "Index")